<footer>
    <div class="container footer-content">
        <section>
            <a href="/about">About &amp; Privacy</a>
        </section>

        <section>
            <p>Website by <a href="https://github.com/sammy-t" target="_blank">Sammy T</a></p>
            <p>Photos by 
                <a href="https://www.pexels.com/photo/happy-woman-using-laptop-in-kitchen-4049794/" 
                    target="_blank">Ekaterina Bolovtsova</a>
                <br/>and 
                    <a href="https://www.pexels.com/photo/woman-using-laptop-doing-a-video-call-4099096/" 
                        target="_blank">Matilda Wormwood</a></p>
        </section>
    </div>
</footer>