<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv `CONTEXT` }}{{ cond (eq `production` (getenv `CONTEXT`)) (getenv `URL`) (getenv `DEPLOY_PRIME_URL`) }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  
  <title>{{ $.Site.Title }}</title>

  <!-- Spectre -->
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}" defer></script>
  {{ end }}

  {{ block "page-head" . }}{{ end }}
</head>

<body>
  {{ block "nav" . }}{{ end }}

  {{ block "header" . }}{{ partial "header" . }}{{ end }}

  <main class="container grid-lg">
    {{ block "main" . }}{{end}}
  </div>

  {{ block "footer" . }}{{ partial "footer" . }}{{ end }}
</body>
</html>
