{{ define "page-styles" }}
<link rel="stylesheet" href="{{ `/chat/css/styles.css` | relURL }}">
{{ end }}

{{ define "nav" }}
<header class="navbar">
    <section class="navbar-section">
        <a href="{{ `/` | relURL }}" class="navbar-brand mr-2">Pearmo</a>
    </section>

    <!-- Room id -->
    <section class="navbar-center">
        <div class="input-group input-inline">
            <span class="input-group-addon">Room ID:</span>
            <input type="text" class="form-input" placeholder="Joinable room id">
            <button class="btn btn-primary input-group-btn">Share</button>
        </div>
    </section>

    <!-- User info -->
    <section class="navbar-section">
        <figure class="avatar" data-initial="UN"></figure>
    </section>
</header>
{{end}}

{{ define "main" }}
<!-- Room Actions -->
<section id="room-actions">
    <button class="btn btn-primary">Create Room</button>
    <button class="btn btn-primary">Join Room</button>
    <button class="btn btn-primary" disabled>Hang up</button>
</section>

<!-- Stream Options -->
<section id="stream-options">
    <div class="form-group">
        <label class="form-radio form-inline">
            <input type="radio" name="video-type" id="camera" value="camera" checked>
            <i class="form-icon"></i>Camera
        </label>
        <label class="form-radio form-inline">
            <input type="radio" name="video-type" id="screen-share" value="screen-share">
            <i class="form-icon"></i>Screen Share
        </label>
    </div>
</section>

<!-- Communication Area -->
<section id="comm-area" class="columns">
    <!-- Stream(s) -->
    <div class="column col-9 col-md-12">
        <div class="columns col-gapless">
            <div class="column">
                <video id="local-video" autoplay playsinline controls></video>
            </div>
            <div class="column">
                <video id="remote-video" autoplay playsinline controls></video>
            </div>
        </div>
    </div>

    <!-- Chat -->
    <div id="chat-area" class="column col-3 col-md-12 bg-secondary">
        <div id="messages-container" class="bg-secondary"></div>
        <textarea id="message" class="form-input" name="message" placeholder="Type your message"></textarea>
        <button id="send" class="btn btn-primary float-right" disabled>Send</button>
        <!-- <small>Shortcut: Control+Enter</small> -->
    </div>
</section>

<!-- Help Info -->
<details>
    <summary>Help</summary>
    <p>Some helpful info</p>
</details>
{{ end }}