{{ define "page-styles" }}
<link rel="stylesheet" href="{{ `/chat/css/styles.css` | relURL }}">
{{ end }}

{{ define "nav" }}
<header class="navbar">
    <section class="navbar-section">
        <a href="{{ `/` | relURL }}" class="navbar-brand mr-2">Pearmo</a>
    </section>

    <!-- Room id -->
    <section class="navbar-center">
        <div class="input-group input-inline">
            <span class="input-group-addon">Room ID:</span>
            <input type="text" class="form-input" placeholder="Joinable room id">
            <button class="btn btn-primary input-group-btn">Share</button>
        </div>
    </section>

    <!-- User info -->
    <section class="navbar-section">
        <figure class="avatar" data-initial="UN" style="background-color: #5755d9;"></figure>
    </section>
</header>
{{end}}

{{ define "main" }}
<!-- Room Actions -->
<section>
    <button class="btn btn-primary">Create Room</button>
    <button class="btn btn-primary">Join Room</button>
    <button class="btn btn-primary">Hang up</button>
</section>

<!-- Chat Options -->
<section>
    <div class="form-group">
        <label class="form-radio form-inline">
            <input type="radio" name="video-type" id="camera" value="camera" checked>
            <i class="form-icon"></i>Camera
        </label>
        <label class="form-radio form-inline">
            <input type="radio" name="video-type" id="screen-share" value="screen-share">
            <i class="form-icon"></i>Screen Share
        </label>
    </div>
</section>

<!-- Chat Area -->
<section></section>
{{ end }}