/* Import external stylesheets */
@import 'halfmoon/css/halfmoon-variables.min.css';

/* Additional styling */
:root {
    --theme-color: #55ddffff;
    --dm-link-text-color: var(--theme-color);
    --navbar-brand-image-height: 4rem;
    --dm-base-text-color: white;
    --header-graphic-img-margin: 2rem;
    --feature-img-size: 40%;
}

header {
    display: flex;
    flex-direction: column;
}

header>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 5rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

#header-graphic {
    position: relative;
    padding: 0;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3rem;
}

#header-graphic img {
    width: 50%;
    height: auto;
    margin-top: var(--header-graphic-img-margin);
    border-radius: 2rem;
}

#header-graphic img:last-of-type{
    align-self: flex-start;
    width: 63%;
    margin-top: 0;
    margin-bottom: var(--header-graphic-img-margin);
}

#graphic-bg {
    position: absolute;
    z-index: -1;
    align-self: flex-end;
    height: 100%;
    width: 90%;
    background-color: var(--theme-color);
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.feature {
    border: 2px solid white;
    width: 70%;
    min-width: 200px;
    border-radius: 2rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.feature img {
    max-width: var(--feature-img-size);
    max-height: var(--feature-img-size);
    height: auto;
}

.feature p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.display {
    color: var(--theme-color);
    padding: 6rem 3rem;
    text-align: center;
}

footer {
    background-color: #34383d;
    padding: 3rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.single {
    min-height: 70vh;
    padding: 3rem 0;
}

@media (min-width: 790px) {
    header {
        flex-direction: row;
        min-height: 90vh;
    }

    header>section {
        width: 50vw;
    }

    .features {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .feature {
        width: 20vw;
        padding: 1rem 0;
    }

    .display {
        padding: 10rem 3rem;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-content section:last-of-type {
        text-align: end;
    }
}