/* Import external stylesheets */
@import 'halfmoon/css/halfmoon-variables.min.css';

/* Additional styling */
header {
    padding: 1em;
}

.navbar {
    border-bottom: 1px solid #5755d9;
}

.navbar-section, .navbar-center {
    max-width: 100%;
}

.main-brand {
    display: flex;
    align-items: center;
}

.main-brand img {
    width: 2rem;
}

.main-brand h5 {
    margin: 0 0.15em;
}

main {
    min-height: 83vh;
    padding-top: 2em;
}

.lead-logo {
    width:  50vw;
    max-width: 250px;
}

.lead-link {
    border-radius: 0.25rem;
}

.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.features article {
    width: 25vw;
}

.features article img {
    width: 45%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}