{{ define "header" }}
<header class="hero bg-primary">
    <section class="hero-body">
        <img class="lead-logo p-centered" src="{{ `/img/pearmo-logo.png` | relURL }}" alt="Pearmo logo">

        <h4 class="text-center">
            Pearmo is a peer-to-peer chat and conferencing platform with temporary rooms.
            <br/>
            <br/>
            <a href="{{ `/chat` | relURL }}" class="btn lead-link">Start Chatting</a>
        </h4>
    </section>
</header>
{{ end }}

{{ define "main-content" }}
<h3>Features</h3>
<section class="features">
    <article>
        <img src="{{ `/img/video-outline.svg` | relURL }}" alt="Video conferencing icon">
        <h6>Video & Audio Conferencing</h6>
    </article>

    <article>
        <img src="{{ `/img/monitor-share.svg` | relURL }}" alt="Screen sharing icon">
        <h6>Screen Sharing</h6>
    </article>

    <article>
        <img src="{{ `/img/forum-outline.svg` | relURL }}" alt="text chat icon">
        <h6>Text chat</h6>
    </article>
</section>

<h5 class="text-primary text-center">Pearmo rooms are single serving sessions with no sign up necessary.</h5>
{{ end }}