{{ define "header" }}
<header>
    <!-- Introduction -->
    <section>
        <h1>Pearrd is a peer-to-peer chat and conferencing platform with temporary rooms</h1>
        <a href="/chat" class="btn btn-lg btn-primary">Start Chatting</a>
    </section>

    <!-- Graphic -->
    <section id="header-graphic">
        <div id="graphic-bg"></div>
        <img src="/img/pexels-ekaterina-bolovtsova-4049794.jpg" alt="smiling woman at computer"
            width="380" height="250">
        <img src="/img/pexels-matilda-wormwood-4099096.jpg" alt="smiling woman at computer with drink"
            width="500" height="300">
    </section>
</header>
{{ end }}

{{ define "main-content" }}
{{ end }}