{{ define "header" }}
<header>
    <!-- Introduction -->
    <section>
        <h1>Pearrd is a peer-to-peer chat and conferencing platform with temporary rooms</h1>
        <a href="/chat" class="btn btn-lg btn-primary">Start Chatting</a>
    </section>

    <!-- Graphic -->
    <section id="header-graphic">
        <div id="graphic-bg"></div>
        <img src="/img/pexels-ekaterina-bolovtsova-4049794.jpg" alt="smiling woman at computer"
            width="380" height="250">
        <img src="/img/pexels-matilda-wormwood-4099096.jpg" alt="smiling woman at computer with drink"
            width="500" height="300">
    </section>
</header>
{{ end }}

{{ define "main-content" }}
<article class="container">
    <h2>Features</h2>

    <section class="features">
        <div class="feature">
            <img src="/img/icons/video-ic.svg" alt="video icon" width="150" height="150">
            <p>Video &amp; Audio Conferencing</p>
        </div>
    
        <div class="feature">
            <img src="/img/icons/screen-ic.svg" alt="screen icon" width="150" height="150">
            <p>Screen Sharing</p>
        </div>

        <div class="feature">
            <img src="/img/icons/chat-ic.svg" alt="chat icon" width="150" height="150">
            <p>Text Chat</p>
        </div>
    </section>
</article>

<article class="container display">
    <h3>Pearrd rooms are single serving sessions with no sign up necessary</h3>
</article>
{{ end }}