.chat-nav {
    justify-content: space-between;
}

#chat-opts>* {
    padding: 1rem 0;
}

#chat-opts form {
    gap: 2rem;
}

#stream-area, #chat-area, #send-area, #send-section .placeholder, #help-area details {
    width: 100%;
    max-width: 720px;
}

#comm-area {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stream-area {
    display: flex;
    flex-direction: column;
}

.video-container-single {
    flex-grow: 1;
    position: relative;
}

.video-container-single video {
    width: 100%;
    height: auto;
    max-height: 85vh;
}

.stream-user {
    position: absolute;
    z-index: 1;
    padding: 1rem;
}

#chat-area {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
    flex-grow: 1;
    padding: 1rem;
}

#messages-container {
    width: 100%;
    height: 50vh;
    flex-grow: 1;
    background-color: #4a5056;
    overflow-y: auto;
}

.message {
    padding: 1rem;
}

.message>* {
    margin: 0;
}

.msg-info {
    text-align: center;
}

.msg-self {
    text-align: end;
}

#send-section {
    display: flex;
    justify-content: center;
}

#send-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

#help-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#help-area details {
    padding: 1rem;
}

#help-area details * {
    margin: 0;
}

#help-area details p {
    margin-bottom: 1rem;
}

.modal-title {
    text-align: center;
}

.modal section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 720px) {
    #comm-area {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    #stream-area, #chat-area, #send-area, #send-section .placeholder, #help-area details {
        max-width: unset;
    }

    #stream-area, #chat-area {
        width: unset;
    }

    #stream-area {
        display: none;
        padding: 1rem 0;
        flex-grow: 2;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .video-container-single {
        min-width: 50%;
    }

    #chat-area {
        max-width: 50vw;
        flex-grow: 1;
    }
}