header {
    padding: 1em;
    border-bottom: 1px solid #5755d9;
}

main {
    padding-top: 2em;
}

#stream-options {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#camera-label {
    margin-left: 1rem;
}

#stream-area {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#stream-area video {
    flex-grow: 1;
    max-width: 50%;
}

#chat-area {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    display: flex;
    flex-direction: column;
}

#messages-container {
    width: 100%;
    min-height: 12rem;
    max-height: 40vh;
    flex-grow: 1;
    overflow: auto;
    padding-right: 0.5em;
}

.message {
    padding: 0.15em 0;
}

.message p {
    margin: 0;
}

.msg-self {
    text-align: right;
}

.msg-info {
    padding: 0.5em 0;
}

#message-input {
    resize: none;
}

#send-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;
}

.toast {
    width: auto;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.toast-active {
    display: block;
}

#share-modal .modal-container {
    border-radius: 20px;
}

#share-modal .content {
    display: flex;
    flex-direction: column;
}

#share-modal .content p {
    text-align: center;
}

#share-modal button {
    border-radius: 20px;
}

#share-modal button:hover {
    background-color:lavender;
}