header {
    padding: 1em;
    border-bottom: 1px solid #5755d9;
}

main {
    padding-top: 2em;
}

#stream-options {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#streams {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#streams video {
    flex-grow: 1;
    max-width: 50%;
}

#chat-area {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

#messages-container {
    width: 100%;
    min-height: 12rem;
}

#message {
    resize: none;
}

#send {
    margin-top: 0.25rem;
}